@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.projectContainer{
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.projectContainer > h1{
    padding-bottom: 15px;
}
.projectContainer > p{
    padding-bottom: 20px;
}
.Prjcontainer_prjs{
    display: flex;
    width: 60vw;
    margin-top: 50px;

}